/* MEDIA QUERY */
@media only screen and (max-width: 375px) {
    body{
        font-family: 'Outfit', sans-serif;
        background-color: hsl(217, 54%, 11%);
        width: 100%;
        margin-top: 15%;
    }

    /* CARD */
.card{
    margin: auto;
    width: 320px;
    height: 520px;
    background-color: hsl(216, 50%, 16%);
    border-radius: 10px;
}
.card>img{
    margin: 20px 20px;
    width: 280px;
    height: 280px; 
    border-radius: 5px;
}
.card h2{
    color: hsl(0, 0%, 100%);
    font-size: 20px;
    margin: 0 0 10px 20px;
}
.card p{
    color: hsl(215, 51%, 70%);
    font-size: 16px;
    margin: 0 15px 15px 20px;
}

/* ICONS */
.icons{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.icons p{
    font-size: 16px;
}
.icons-left{
    font-size: 16px;
    width: 50%;
}
.icons-left img{
    padding-left: 20px;
    float: left;
}
.icons-left p{
    padding-left: 15px;
    color: hsl(178, 100%, 50%);
}
.icons-right{
    font-size: 16px;
    width: 40%;
}
.icons-right img{
    float: left;
    padding-right: 10px;
}
.icons-right p{
    color:hsl(215, 51%, 70%);
}

hr{
    margin: auto;
    width: 90%;
    border-top: 1px solid hsl(215, 51%, 70%);
    border-bottom:1px solid hsl(215, 51%, 70%);
}

/* AVATAR */

.avatar{
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.avatar img{
   height: 35px;
   width: 35px;
   border: 1px solid #fff;
   border-radius: 50%;
   margin-bottom: 10px;
   margin-left: -20px;
}
.avatar .first{
    font-size: 16px;
}
.avatar .second{
    font-size: 16px;
    color:hsl(0, 0%, 100%);
    margin-left: -10px; 
}

/* ATTRIBUTION */
.attribution {
    margin-top: 5%;
    font-size: 12px;
    text-align: center; 
    color: hsl(228, 45%, 44%);
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
    text-decoration: none;
}
.attribution a:hover{
    color:hsl(216, 50%, 16%);
    font-size: 14px;
    }
}